.Burger{
    width: 80%;
    margin: auto;
    height: 350px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

@media (min-width:500px){
    .Burger{
        width: 350px;
    }
}